

.formBlock {
  width: 800px;
  min-height: 630px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  margin: 20px auto 50px auto;
  position: relative;
}