
.header {
  width: 800px;
  margin: 40px auto 0 auto;
}

.geometricFigures {
  display: flex;
}

%geometricFiguresTemplate {
  margin-right: 10px;
  background: #696969;
}

.circle {
  @extend %geometricFiguresTemplate;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rectangle {
  @extend %geometricFiguresTemplate;
  width: 30px;
  height: 60px;
}

.parallelogram {
  @extend %geometricFiguresTemplate;
  width: 30px;
  height: 60px;
  transform: skew(-25deg);
}
