.fileInput {
  width: 208px;
  color: #0055FB;
  cursor: pointer;
  margin-bottom: 20px;
  i {
    margin-right: 6px;
  }
}


.dragAndDrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px dashed #CCCCCC;
  border-radius: 5px;
}




.dropzone {
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    border: 1px dashed #CCCCCC;
    border-radius: 5px;
  }
}